 .form-section {
  position: relative;
  /* top: 200px; */
  border-radius: 2%;
  background-color: #06113C;
  color: white;
  margin: auto;
  width: 70%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-12 {
  display: inline-block;
  padding: 0.6rem;
}

#instruction{
  text-align: left;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 3%;
  background-color: grey;
  z-index: 12;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: #06113C;
}

/* Add a white text color and an "x" when the requirements are wrong */
/* .invalid {
  color: white;
} */

.cancelbtn{
  margin-top: 1rem;
}


/* untitled.html */


.avatar{
  border-radius: 50%
}
