 .form-section {
  position: relative;
  border-radius: 2%;
  background-color: #06113C;
  color: white;
  margin: auto;
  width: 70%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
  border-radius: 50%;
}

.col-12 {
  display: inline-block;
  padding: 0.6rem;
}

#instruction{
  text-align: left;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 3%;
  background-color: grey;
}

/* Adding color when requirement met. */
.valid {
  color: #06113C;
}

.cancelbtn{
  margin-top: 1rem;
}

@media (max-width: 650px) {
  .form-section{
    width: 100%;
    border-radius: 0;
  }

}

@media (min-width: 992px) {
  .form-section{
    position: relative;
    top: 110px;
  }

}
